<p>今回のCar1の燃費は<%= @fuel_efficiency %>キロメートル/リットルでした</p>
<p>日付: <%= @fuel_log.date.strftime("%Y/%m/%d") %></p>
<p>オドメーターの値: <%= @fuel_log.odometer %></p>
<p>今回の給油量: <%= @fuel_log.fuel_amount %>l</p>
<p>安全運転お疲れ様です！</p>
