<div class="home-container">
  <div class="header">
    <svg width="1914" height="96" viewBox="0 0 1914 96" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="path-1-inside-1_1_1064" fill="white">
        <path d="M0 0H1914V96H0V0Z"/>
      </mask>
      <path d="M0 0H1914V96H0V0Z" fill="white"/>
      <path d="M1914 95H0V97H1914V95Z" fill="#D9D9D9" mask="url(#path-1-inside-1_1_1064)"/>
    </svg>
    <!-- ログアウトリンクを右上に配置するためのコンテナ -->
    <div class="logout-container">
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "logout-link" %>
    </div>
  </div>
  <div class="main-content">
    <div class="logo-container">
      <div class="logo-title">GasMileageLog</div>
      <div class="logo-subtitle">燃費計算</div>
    </div>
  </div>
  <div class="auth-buttons-container" style="height: 133px;">
    <%= link_to "Sign in", new_user_session_path, class: "auth-button sign-in" %>
    <%= link_to "Register", new_user_registration_path, class: "auth-button register" %>
  </div>
</div>

